<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @classroom.class_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @classroom.school %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher_id %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
