

<div class="container">
	<h1> Teacher Dashboard </h1><br>
<div class="row">
	<div class="col-md-3 rightbord " >

	<p>
    <%= form_tag(class_search_path, :method => "get", id: "search-form") do %>
  		<%= text_field_tag :class, params[:class], placeholder: "Search Class" %>
  		<%= submit_tag "Search", :name => nil %>
	<% end %>
   </p>	
   <br>
   <h5>My Classes</h5>

	   <% @my_classrooms.each do |classroom| %>

	   		<h3><%= link_to classroom.class_name , classroom_path(classroom) %> <%= link_to 'New Planification', new_planification_path , :class => 'btn btn-warning btn-sm' %> <%= link_to 'Create Quiz', new_quiz_path , :class => 'btn btn-info btn-sm' %>
</h3> <br>

	   <% end %>

   <%= link_to 'Create new classroom' , new_classroom_path, :class => 'btn btn-success'  %><br>

   

	
	</div>

	<div class="col-md-9">

		blah!
	</div>			
</div>
</div>	