<h1>Listing programs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Obj fund vert</th>
      <th>Obj fund transv</th>
      <th>Contents</th>
      <th>Activities</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.subject %></td>
        <td><%= program.obj_fund_vert %></td>
        <td><%= program.obj_fund_transv %></td>
        <td><%= program.contents %></td>
        <td><%= program.activities %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program', new_program_path %>
