

<div class="image">
    <h1><%= @lesson.word.word %></h1>
    <br>
    <img src="<%= @lesson.photo %>" style="width:50%;height:360px;">
    <br>
    <h2><span id="popover" data-trigger="hover" data-content="<%= @lesson.word.definition %>"><%= @words[0..7].join(' ') %>  <br><% if @words.count >  8 %><%= @words[8..100].join(' ') %> <% end %><span></h2>
 </div>
 <audio controls>
  
  <source src="<%= @lesson.sound %>" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>





<script>

	$("#popover").popover({ trigger: "hover" });

</script>