<div class="container">

<div class="image">
    <h1><%= @lesson.word.word %></h1>
    <br>
    <img src="<%= @lesson.photo %>" style="width:50%;height:360px;">
    <br>
    <h2><span id="popover" data-trigger="hover" data-content="<%= @lesson.word.definition %>"><%= @words[0..7].join(' ') %>  <br><% if @words.count >  8 %><%= @words[8..100].join(' ') %> <% end %><span></h2>
 </div>
 <audio controls>
  
  <source src="<%= @lesson.sound %>" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
</div>




<script>

  $("#popover").popover({ trigger: "hover" });

</script>

<%= link_to t('.back', :default => t("helpers.links.back")),
              lessons_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lesson_path(@lesson), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lesson_path(@lesson),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
